:root {
  --primary-color: #fff;
  --secondary-color: #07003b;
  --light-purple-color: #6259a7;
  --accent: #fca61f;
  --text-color: #7d7789;
}
h1 {
  font-size: 100px;
  line-height: 88px;
  color: var(--primary-color);
  font-weight: 700;
}
h2 {
  font-size: 52px;
  line-height: 55px;
  font-weight: 700;
  color: var(--secondary-color);
}
h4 {
  font-size: 26px;
  line-height: 55px;
  font-weight: 700;
  color: var(--secondary-color);
}
h5 {
  color: var(--accent);
  font-size: 22px;
  line-height: 24px;
  font-weight: 600;
}
p {
  font-size: 20px;
  line-height: 30px;
  color: var(--text-color);
  font-family: "Lato", sans-serif;
}
.padding-top {
  padding-top: 140px;
}
.padding-bottom {
  padding-bottom: 140px;
}
